pyvenv.cfg
__pycache__/
venv/
.env/
.envrc
.vscode/
.idea/
*.swp
build/
dist/
*.log
pip-wheel-metadata/
.cache/
*.sqlite3
.coverage
.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db
CompiPy/lib/
CompiPy/bin/
*.cfg
